@import "colors";
body {
    font-family: 'Lora', serif;
}

.bodydefinition {
    background-color: lightgrey;
    -ms-align-content: center; 
    -webkit-align-content: center; 
    align-content: center;
}

.blackbox {
     background-color:#000;
     background-image: url("images/Rahmen_orange_dotti_lotti_120.png");
     height:120px;
     width:804px;
}

.blackboxspanrowone{
    color:white;
    top:24px;
    left:39px;
    position:relative;
    font-size:28px;
}

.blackboxspanrowtwo{
    color:white;
    top:56px;
    left:54px;
    position:absolute;
    font-size:28px;
}

.toplayouttophome {
     height:70px;
     background-image: url("images/Punkte_Hintergrund_1_V3.jpg");
}

.toplayouttopkarten {
     height:70px;
     background-image: url("images/India_3_Teil_oben_Rubrik_Karten.jpg");
}

.toplayouttopteam {
     height:70px;
     background-image: url("images/India_1_Teil_oben_Rubrik_Team.jpg");
}

.toplayouttopkontact {
     height:70px;
     background-image: url("images/India_0_Teil_oben_Rubrik_Kontakt.jpg");
}

.toplayouttopnav {
     height:50px;
     padding:0;
     margin:0;
}
.toplayoutbottom{
     height:150px;
     background-image: url("images/Punkte_Hintergrund_1_V3.jpg");
     padding:0;
     margin:0;
}

.topmiddleLayoutayout {
     height:250px;
     background-color: $background_color;
}

.bottomLayoutayout {
     height:350px;
     background-color:#00ff90;
}

.bottomLayoutayout_home {
     background-image: url("images/Stoff_gruen_Rubrik_Home.jpg");
}

.bottomLayoutayout_karten {
     background-image: url("images/gelbe_Flaeche_Teil_unten_Rubrik_Karten.jpg");
}

.bottomLayoutayout_kontakt {
     background-image: url("images/India_2_Teil_unten_Rubrik_Kontakt.jpg");
}

.bottomLayoutayout_team {
     background-image: url("images/India_1_Teil_unten_Rubrik_Team.jpg");
}

.dottiNav {
    background-color: $background_color;
    color: #000;
    padding:0;
    margin:0;
    border-radius:0;
    border:0;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #000;
}

.navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
}