<div class="container">

    <div class="toplayout">
        <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed dottiNav" role="navigation">
            <div class="container-fluid">
                <div style="width:300px;float:left;padding:7px;">
                    <img src="images/dottilotti_nur_Logo_RZ.png" />
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="background-color:#000"></span>
                        <span class="icon-bar" style="background-color:#000"></span>
                        <span class="icon-bar" style="background-color:#000"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav" style="float:right;">
                        <li class="active"><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="team">Team</a></li>
                        <li><a ui-sref="karten">Karten</a></li>
                        <li><a ui-sref="kontakt">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div style="margin-top:80px;">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="height:150px;background-color:#000;"></div>
                <div class="col-md-2"></div>
            </div>
        </div>

        </div>

        <div style="height:30px;background-color:#cfcb1a;"></div>

        <div class="topmiddleLayoutayout">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="padding-top:10px;font-size:larger">
                    Das Projekt: Wir entwerfen genähte Karten aus Stoff. Genäht werden
                    die Karten im Team mit unseren Partnerinnen im südindischen Chennai,
                    denen wir so, eine faire Verdienstmöglichkeit anbieten können.
                    Wir stellen Material und Maschine zur Verfügung und bezahlen pro
                    genähte Karte einen fairen Preis.
                </div>
                <div class="col-md-3"></div>
            </div>

        </div>

        <div class="bottomLayoutayout">
            <div style="padding-top:50px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <img style="height:200px;padding-right:40px;" src="images/Kuchen_1.png" />
                    <img style="height:200px;padding-right:40px;" src="images/Kuchen_2.png" />
                    <img style="height:200px;" src="images/Kuchen_3.png" />
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

    </div>
