<div class="container" style="background-color:white;">

    <div class="toplayouttopnav col-lg-12">

        <div class="row" style="background-color:white;">
            <div class="col-lg-6">
                <div>
                    <img src="../images/{{kartenstyle}}/{{karte}}_big.jpg" />
                </div>
            </div>

            <div class="col-lg-6">

                <h1>{{title}}</h1>
                <hr>

                <form class="form-horizontal" style="margin-left:5px;">
                    <div class="form-group">
                        <label class="control-label col-xs-3"></label>
                        <div class="col-xs-8">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="control-label col-xs-3" style="text-align: left;">Artikel-Nr.:</label>
                        <div class="control-label col-xs-8" style="text-align: left;">
                            <span>{{kartenArticleDesplay}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="control-label col-xs-3" style="text-align: left;">Einzelpreis:</label>
                        <div class="control-label col-xs-8" style="text-align: left;">
                            <span>CHF 4.50</span>
                        </div>
                    </div>

                    <div class="form-group control-label" style="margin-left:0;text-align: left;">
                        <span>Ab 10 Karten 3.50 Ab 100 Karten 2.50</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-3"></label>
                        <div class="col-xs-8">
                        </div>
                    </div>
                </form>

              

                <!--<div>
                    Ab 100 Karten 2.50. Ab 100 CHF portofreier Versand, ansonsten 5 Franken Portogebühren.
                </div>-->
            </div>

        </div>

        <div class="row" style="background-color:white;padding:15px;">

            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <button class="btn btn-default" style="width:200px;" ui-sref="karten">Back</button>
            </div>

        </div>
    </div>

</div>