<div class="container" style="background-color:white;">

    <div class="toplayouttopnav col-lg-12">

        <div class="row" style="background-color:white;">
            <div class="col-lg-6">
                <div class="col-lg-12" style="padding-top:10px;">
                    <slick dots="true" infinite="false" speed="300" slides-to-show="1" touch-move="false" slides-to-scroll="1">

                        <div><img src="../images/Mandala_Style/Mandala_Set_big_1.jpg" style="height:500px;" /></div>
                        <div><img src="../images/Mandala_Style/Mandala_Set_big_2.jpg" style="height:500px;" /></div>
                        <div><img src="../images/Mandala_Style/Mandala_Style_7_big.jpg" style="height:500px;" /></div>
                        <div><img src="../images/Mandala_Style/Mandala_Style_1_big.jpg" style="height:500px;" /></div>
                        <div><img src="../images/Mandala_Style/Mandala_Style_2_big.jpg" style="height:500px;" /></div>
                        <div><img src="../images/Mandala_Style/Mandala_Style_3_big.jpg" style="height:500px;"  /></div>
                        <div><img src="../images/Mandala_Style/Mandala_Style_4_big.jpg" style="height:500px;" /></div>
                        <div><img src="../images/Mandala_Style/Mandala_Style_5_big.jpg" style="height:500px;" /></div>
                        <div><img src="../images/Mandala_Style/Mandala_Style_6_big.jpg" style="height:500px;" /></div>                
                        <div><img src="../images/Mandala_Style/Mandala_Style_8_big.jpg" style="height:500px;" /></div>
                    </slick>
                </div>

            </div>

            <div class="col-lg-6">

                <h3>{{title}}</h3>
                <hr>

                <form class="form-horizontal" style="margin-left:5px;">
                    <div class="form-group">
                        <label class="control-label col-xs-3"></label>
                        <div class="col-xs-8">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="control-label col-xs-3" style="text-align: left;">Artikel-Nr.:</label>
                        <div class="control-label col-xs-8" style="text-align: left;">
                            <span>{{kartenArticleDesplay}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="control-label col-xs-3" style="text-align: left;">Einzelpreis:</label>
                        <div class="control-label col-xs-8" style="text-align: left;">
                            <span>{{price}}</span>
                        </div>
                    </div>

                    <div class="form-group control-label" style="margin-left:0;text-align: left;">
                        <span>{{setprice}}</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-3"></label>
                        <div class="col-xs-8">
                        </div>
                    </div>
                </form>

              

                <!--<div>
                    Ab 100 Karten 2.50. Ab 100 CHF portofreier Versand, ansonsten 5 Franken Portogebühren.
                </div>-->
            </div>

        </div>

        <div class="row" style="background-color:white;padding:15px;">

            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <button class="btn btn-default" style="width:200px;" ui-sref="karten">Back</button>
            </div>

        </div>
    </div>

</div>