<div class="container">

    <div class="toplayouttopkarten col-md-12"></div>

    <div class="toplayouttopnav col-md-12">
        <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed dottiNav" role="navigation">
            <div class="container-fluid">
                <div class="col-md-2"></div>
                <div style="width:300px;float:left;padding:7px;">
                    <img src="images/dottilotti_nur_Logo_RZ.png" />
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="background-color:#000"></span>
                        <span class="icon-bar" style="background-color:#000"></span>
                        <span class="icon-bar" style="background-color:#000"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav" style="float:right;">
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="team">Team</a></li>
                        <li class="active"><a ui-sref="karten">Karten</a></li>
                        <li><a ui-sref="kontakt">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="toplayoutbottom col-md-12">
        <div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 blackbox">
                    <span class="blackboxspanrowone">Sortiment: Genähte Karten – India Style,</span>
                    <span class="blackboxspanrowtwo">Dotti-Style, gemalte Mandalas im Set</span>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>


    <div class="col-md-12" style="height:30px;background-color:#cfcb1a;"></div>

    <div class="topmiddleLayoutayout col-md-12">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="padding-top:10px;font-size:larger">
                Das Sortiment: Im Moment haben wir drei Design-Linien in Produktion.
                Die genähten Karten erhalten ihre Hochwertigkeit durch das taktile Erlebnis
                mit den wundervoll gefertigten indischen Stoffen und Bordüren. Im Gegensatz dazu – eine Linie mit frechen, frischen Farben im Punkte-Style. Ausserdem die wundervoll-verzierten Mandala-Karten > handgefertigt und hochwertig gedruckt.
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>


    <div class="col-md-12  bottomLayoutayout bottomLayoutayout_karten">

    </div>

</div>