<div class="container">

    <div class="toplayouttopteam col-lg-12"></div>

    <div class="toplayouttopnav col-lg-12">
        <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed dottiNav" role="navigation">
            <div class="container-fluid">
                <div class="col-lg-2"></div>
                <div style="width:300px;float:left;padding:7px;">
                    <img src="images/dottilotti_nur_Logo_RZ.png" />
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="background-color:#000"></span>
                        <span class="icon-bar" style="background-color:#000"></span>
                        <span class="icon-bar" style="background-color:#000"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav" style="float:right;">
                        <li><a ui-sref="home">Home</a></li>
                        <li class="active"><a ui-sref="team">Team</a></li>
                        <li><a ui-sref="karten">Karten</a></li>
                        <li><a ui-sref="kontakt">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="toplayoutbottom col-lg-12">
        <div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 blackbox">
                    <span class="blackboxspanrowone">Swiss – India – Team: Kreativer Austausch</span>
                    <span class="blackboxspanrowtwo">und inspirierendes Team-Work.</span>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 dotsimage"></div>

    <div class="topmiddleLayoutayout col-lg-12">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="padding-top:10px;font-size:larger">
                Das Team: Wir leben in zwei entfernten Welten und sehen das als
                Chance für kreativen Austausch und das Verknüpfen von Gegensätzen und vielfältigen Inspirationsquellen.
                <br /><br />
                <b>Irène Prabhu-Burri</b>, Chennai, Südindien
                Dipl. Primarlehrerin und Heilpädagogin
                <br /><br />
                <b>Nicole Schneuwly</b>, Bern, Schweiz
                Grafikerin EFZ, Dipl. Primarlehrerin und Heilpädagogin
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>

    <div class="col-lg-12 bottomLayoutayout bottomLayoutayout_team">
        <div class="col-lg-12 dotsimagebottom"></div>
    </div>

</div>